<h1><%= siteName %></h1>
<% if(messages) {%>
    <section>
    <h2>Votre demande a échoué</h2>
    <ul>
        <% messages.forEach(erreur => {%>
            <li style="color:red;"><%=erreur.msg%></li>
        <%});%>
    </ul>
    </section>
<%}%>

<% articles.forEach(article => {%>
    <section>
        <h2><%=article.title%></h2>
        <p><%=article.text%></p>
        <p><%=article.author%></p>
    </section>    
<%});%>

